@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
  background-color: #363636;
  font-family: 'Roboto';
  color: #ffbcbc;
}
#main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.interval-container {
  display: flex;
  margin: 0 20px;
}

.interval-length {
  font-size: 2rem;
  margin: 0 30px;
  line-height: 0.6;
  font-weight: 600;

}

.interval-inner {
  display: flex;
}

.interval-outer {
  border-style: solid 1px;
  border-color: #f1e7b6;
  padding-top: 5px;
  padding-bottom: 30px;
  padding-right: 150px;
  padding-left: 150px;
  height: 150px;
  width: 200px;
  border-radius: 5px 5px 50px 50px;
  border-top: 0px;
  -webkit-box-shadow: 1px 10px 13px -1px;
  -moz-box-shadow: 1px 10px 13px -1px;
  box-shadow: 1px 10px 13px -1px;
  background-color: #565656;
}

.timer-outer {
  -webkit-box-shadow: 9px 10px 43px 4px;
  border-style: solid 2px;;
  border-color: #fe346e;
  background-color: #565656;
  padding-top: 0;
  padding-bottom: 20px;
  padding-right: 120px;
  padding-left: 120px;
  border-radius: 15px 50px 30px;
}

.timer-inner {
  display: flex;
}

.timer-under {
  margin-top: 20px;
}

.timer-session {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  margin-top: 0px;

}

.separator {
  padding: 100px;
}

span {
  font-size: 4rem;
  letter-spacing: 0.5;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h4 {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

button {
  padding: 5px 9px;
  margin: 0 5px;
  height: 25px;
  width: 50px;
  background-color: #ffbcbc;
  border: none;
  outline: none;
  cursor: pointer;
  color: #565656;
  border-radius: 15px;
}

button:disabled {
  cursor: not-allowed;
}
